# # Supabase
# VITE_SUPABASE_URL=https://eaowdgxlzjlxbiwomdua.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhb3dkZ3hsempseGJpd29tZHVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NjE2NzMsImV4cCI6MjA5MjQzNzY3M30.jB40fViazzV2L365llzO-eoVob6xjV451mEe4LJjEdg
